.modalC{
    height: 40em;
    width: 100%;
    max-height: 100em;
    background: tomato;
    border-radius: 30px;
    padding: 20px;
    margin: -20px;
}
form{
    height: 40em;
}
.agenda{
    margin: 0 0 2em 0;
    text-align: center;
    font-size: 1.1em;
    color: white;
    font-weight: bold;
    display: flex;
}
.agenda h2{
    color: darkslategray;
    font-size: 1.9em;
    margin: 0 auto;
}
.agenda md-input-container{
    margin: 0 auto;
    width: 8em;
    text-align-last: center;
}
.medidas{
    margin: 2em 0;
}
.medidas div{
    margin: 0 auto;
    text-align-last: center;
}
.medSup{
    display: flex;
    border-bottom: 4px solid white;
}
.medSup div{
    padding: 10px;
}
.medInf{
    display: flex;
}
.medInf div{
    padding: 10px;
}
.medidas h2{
    margin: 0;
    color: white;
    text-align: end;
}
.medidas input{
    width: 3em;
    font-size: 5em;
    color: whitesmoke;
    background: transparent;
    border-style: none;
    outline: none;
    text-align: end;
}
.medidas p{
    display: inline-block;
    margin: 0;
    font-size: x-large;
    color: ghostwhite;
}
.otros{
    color: white;
    text-align-last: center;
    width: 60%;
    display: block;
    font-size: 1.1em;
}
#menu {
    display: flex;
    width: 10em;
    margin: 0 auto;
}
#comentarios {
    height: 5em;
    width: 20em;
    border: 1px solid gainsboro;
    border-radius: 10px;
}
#btnGuardar{
    text-align: end;
    margin-top: -9em;
    width: 92%;
}
#btnGuardar button{
    width: 15em;
    height: 2.5em;
    font-size: 1.3em;
    background: yellowgreen;
    border-radius: 10px;   
    color: white;
}