.perfSuperior{
    display: flex;
    justify-content: space-around;
}
.perfSupIzq{
    height: fit-content;
    margin: auto;
    min-width: 58%;
    padding: 1em;
    border-radius: 10px;
    background: white;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.datosGenerales{
    display: inline-flex;
    width: 100%;
}
.perfNombre{
    margin: 0 auto;
    width: 90%;
    text-align-last: center;
    align-self: center;
}

h1 button{
    margin: 0;
    vertical-align: text-bottom;
}
.Contacto{
    padding: 1em;
}
.Contacto *{
    margin: 0px;
}
.Contacto div{
    margin:1% 0 0 0;
}
.Contacto p{
    margin-left:5%; 
}

/*Historia Clinica*/
.historiaClinica{
    padding-bottom: 30px;
    margin:2% 0;
    border-radius: 25px;
    border-style: dashed;
    border-color: darkcyan;
    color: darkcyan;
}
.historiaClinica *{
    margin: 0px;
    align-items: flex-end;
}
.historiaClinica div{
    margin: 2% 0 0 2%;
}
.historiaClinica p{
    margin-left: 2%;
}
/*Superior Derecho*/
.perfSupDer{
    display: flex;
    flex-direction: column;
}
.botones, .avances, .aunNo{
    margin: 1em auto;
    width: auto;
    max-width: 85%;
    padding: 1em;
    border-radius: 10px;
    background: white;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
/*Pesos Dinamicos */
.pesos{
    margin: auto;
    text-align: center;
}
.pesos *{
    margin: auto;
    font-size: 1.3em;
}
.pesosSup{
    display: flex;
    border-bottom: 2px solid gainsboro;
    padding-bottom: 0.5em;
    color: darkgray
}
.pesosInf{
    display: flex;
    padding-top: 0.5em;
}
.pesos span{
    display: flex;
    font-size: .6em;
}


/*Boton Consultar*/
.aunNo{
    text-align: center;
}
.aunNo h3{
    color: dimgray;
}
.botones{
    width: 24em;
    text-align: center;
}
#btnConsultar{
    width: 100%;
    height: 2.5em;
    background-color: blueviolet;
    border-radius: 20px;
    color: white;
    font-size: 2em;
    margin-bottom: 0.5em;
}
#btnProxCita{
    width: 100%;
    height: 2.5em;
    background-color: orangered;
    border-radius: 20px;
    color: white;
    font-size: 2em;
}
/*Perfil Inferior*/
.perfInferior md-card{
    margin: 1em;
    border-radius: 10px;
}
.perfInfTitle{
    display: flex;
    clear: both;
    justify-content: space-between;
}

/*Tabla de visitas*/
table {
    width: 100%;
    border-spacing: 0px 0px;
    margin-bottom: 0;
    text-align-last: center;
}
th {
    box-sizing: border-box;
    text-align: left;
    width: 79px;
    border-bottom: 3px solid #ddd;
    padding: 8px;
    font-weight:bold; 
}
tbody tr:hover{
    background-color:lightgray;
}
tbody td {
    box-sizing: border-box;
    border-top: 1px solid rgb(221, 221, 221);
    padding: 0 8px;
    height: 36px;
}
.arrow{
    vertical-align: middle;
}
.btnSmall{
    min-width: 1em;
}
/*DialogDelete*/
.dialogDelete{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.95;
    text-align: center;
}
/* Graficos */
.graficaProgreso{
    position: relative;
    margin: 0 auto;
    height: 24em;
}
/* Subio */
.subio{
    text-align: center;
    color: salmon;
}
.sad{
    font-size: 10em;
    display: table;
    margin: 0 auto;
}
.subio h2{
    padding: 0 3em;
}
/* Spinner */
.spinners{
    zoom:350%;
    position: relative;
}
svg {
    margin: auto;
    display: block;
  }
  
  path {
    stroke-linecap: round;
    stroke-width: 4;
  }
  
  path.backS {
    stroke: lightgrey;
  }
  
  path.frontS {
    stroke: purple;
    stroke-dasharray: calc(40 * 3.142 * 1.85);
}
.porBajar{
    color: grey;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.porBajar *{
    margin: 0;
    text-align: center;
}
.porBajar h4{
    font-size: 0.5em;
}


@media only screen 
  and (max-device-width: 800px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .perfSuperior{
        flex-direction: column;
        margin-bottom: 1em;
    }
    .datosGenerales{
        flex-direction: column;
    }
    h1 button{
        min-width: 4em;
        padding: 0;
    }
    .spinners{
        zoom: 300%;
    }
}