<div class="consultarC" >
    <form class="formConsultar" #formConsulta="ngForm" (ngSubmit)="consultar()" >
        <div class="agenda">
            <h2>Consulta de {{paciente.nombre}} </h2>
            <div class="fechayhora">
                <mat-input-container>
                    <input matInput class="fecha" #fecha="ngModel" name="fecha" [(ngModel)]="visit.fecha" placeholder="Fecha.." required >
                </mat-input-container>
                <mat-input-container>
                    <input matInput class="hora" #hora="ngModel" name="hora" [(ngModel)]="visit.hora" placeholder="Hora.." required >
                </mat-input-container>
            </div>
        </div>  

        <div class="medidas">
            <div class="medSup">
                <div><h2>Peso</h2> <input #peso="ngModel" name="peso" [(ngModel)]="visit.peso" maxlength="5" required > <p>kg</p></div>
                <div><h2>Grasa</h2> <input name="grasa" [(ngModel)]="visit.grasa" maxlength="4" required> <p>kg</p></div>
                <div><h2>Musculo</h2> <input #musculo="ngModel" name="musculo" [(ngModel)]="visit.musculo" maxlength="4" required> <p>%</p></div>
            </div>
            <div class="medInf">
                <div><h2>Abdomen</h2> <input #abdomen="ngModel" name="abdomen" [(ngModel)]="visit.abdomen" maxlength="5" required> <p>cms</p></div>
                <div *ngIf="paciente.sexo=='Mujer'" ><h2>Cadera</h2> <input #cadera="ngModel" name="cadera" [(ngModel)]="visit.cadera" maxlength="5" required> <p>cms</p></div>
                <div><h2>Glucosa</h2> <input #glucosa="ngModel" name="glucosa" [(ngModel)]="visit.glucosa" maxlength="5" > <p>mg/dl</p></div>
            </div>
        </div>
        
        <div class="inferior">
            <p class="infIzq">
                <mat-input-container class="comentarios">
                    <textarea matInput matTextareaAutosize matAutosizeMinRows="6" id="comentarios" #comentarios="ngModel" name="comentarios" [(ngModel)]="visit.comentarios" placeholder="Comentarios.." ></textarea>
                </mat-input-container>
            </p>
            <div class="infDer">
                <mat-input-container id="menu">
                    <input matInput #menu="ngModel" name="menu" [(ngModel)]="visit.menu" placeholder="Menu.." required >
                </mat-input-container>
                <div id="btnGuardar">
                    <button mat-button type="submit" [disabled]="!formConsulta.form.valid" >Guardar</button>
                </div>
            </div>
            
        </div>
    </form>
</div>
