<div class="dashContainer"> 
    <h1 class="title">Dashboard</h1>
    <br>
    <div class="dbItems">
        <md-card class="dashSupIzq">
            <datatable [fecha]="miFechaDeCitas" ></datatable>
        </md-card>
        <md-card class="dashSupDer">
            <div style="display: flex">
                <div class="unaFecha">
                    <span id="uFdia">{{dia}}</span><span id="uFd">{{d}}</span><span id="uFmes">{{mes}}</span><span id="uFaño">{{y}}</span>
                </div>
                <div id="dbPicker">
                    <datepicker class="pckrCal" [fechaMin]="min" [jump]="miFechaDeCitas" [sticky]="true" (mifecha)="sendFecha($event)" ></datepicker>
                </div>
            </div>
            <div class="btnsFecha">
                <button md-button (click)="diaMenos()"> < </button>
                <button class="btnHoy" md-button (click)="today()"> Hoy </button>
                <button md-button (click)="diaMas()"> > </button>
            </div>
        </md-card>
    </div>
</div>