<div md-dialog-content class="hiscli">
    <form #formPaciente="ngForm">
        <div class="first">
            <md-input-container>
                <input mdInput class="nombre" #nombre="ngModel" name="nombre" [(ngModel)]="paciente.nombre" placeholder="Nombre.." required >
            </md-input-container>
                <span style="color: red" *ngIf="!nombre.valid && nombre.touched">*Requerido</span>
            <div class="edadygen">
                <md-button-toggle-group class="genero" #sexo="ngModel" name="sexo" [(ngModel)]="paciente.sexo" >
                    <md-button-toggle value="Mujer">M</md-button-toggle>
                    <md-button-toggle value="Hombre">H</md-button-toggle>
                </md-button-toggle-group>
                <md-input-container class="edad">   
                    <input mdInput #edad="ngModel" name="edad" [(ngModel)]="paciente.edad" placeholder="Edad.." maxlength="2">
                </md-input-container>
            </div>
        </div>
        <div class="allItems">
            <div class="lefties">
                <div class="datos" >
                    <div class="contacto">
                        <label>Contacto</label>
                        <p>
                            <md-input-container>    
                                <input mdInput #telefono="ngModel" name="telefono" [(ngModel)]="paciente.telefono" placeholder="Telefono.." required >
                            </md-input-container>
                                    <span style="color: red" *ngIf="!telefono.valid && telefono.touched">*Requerido</span>
                            <md-input-container style="display: block; width:15em;">
                                <input mdInput #correo="ngModel" name="correo" [(ngModel)]="paciente.correo" type="email" placeholder="Correo.."  >
                            </md-input-container>
                        </p>
                    </div>
                    <div class="direccion" >
                        <label>Dirección</label>
                        <p>
                            <md-input-container style="display: block;">
                                <input mdInput  #calle="ngModel" name="calle" [(ngModel)]="paciente.direccion.calle" placeholder="Calle y Numero..">
                            </md-input-container>
                            <md-input-container> 
                                <input mdInput #colonia="ngModel" name="colonia" [(ngModel)]="paciente.direccion.colonia" placeholder="Colonia..">
                            </md-input-container>
                            <md-input-container>
                                <input mdInput #ciudad="ngModel" name="ciudad" [(ngModel)]="paciente.direccion.ciudad" placeholder="Ciudad..">
                            </md-input-container>
                        </p>
                    </div>
                </div>
                <p class="valores" >
                    <md-input-container>    
                        <input mdInput #estatura="ngModel" name="estatura" [(ngModel)]="paciente.estatura" placeholder="Estatura.." maxlength="3" >
                    </md-input-container>
                    <md-input-container>
                        <input mdInput #pesoajustado="ngModel" name="pesoajustado" [(ngModel)]="paciente.pesoajustado" placeholder="Peso ajustado.." maxlength="2">
                    </md-input-container>
                    <md-input-container>
                        <input mdInput #pesoideal="ngModel" name="pesoideal" [(ngModel)]="paciente.pesoideal" placeholder="Peso ideal.." maxlength="2">
                    </md-input-container>
                </p>
                <div class="enfymal" >
                    <div class="enfermedades" >
                        <div id="ck-button"><label><input type="checkbox" [checked]="paciente.enfermedades[0][1]" (change)="togglecb(0)"><span>{{paciente.enfermedades[0][0]}}</span></label></div>
                        <div id="ck-button"><label><input type="checkbox" [checked]="paciente.enfermedades[1][1]" (change)="togglecb(1)"><span>{{paciente.enfermedades[1][0]}}</span></label></div>
                        <div id="ck-button"><label><input type="checkbox" [checked]="paciente.enfermedades[2][1]" (change)="togglecb(2)"><span>{{paciente.enfermedades[2][0]}}</span></label></div>
                        <div id="ck-button"><label><input type="checkbox" [checked]="paciente.enfermedades[3][1]" (change)="togglecb(3)"><span>{{paciente.enfermedades[3][0]}}</span></label></div>
                        <div id="ck-button"><label><input type="checkbox" [checked]="paciente.enfermedades[4][1]" (change)="togglecb(4)"><span>{{paciente.enfermedades[4][0]}}</span></label></div>
                        <div id="ck-button"><label><input type="checkbox" [checked]="paciente.enfermedades[5][1]" (change)="togglecb(5)"><span>{{paciente.enfermedades[5][0]}}</span></label></div>
                        <div id="ck-button"><label><input type="checkbox" [checked]="paciente.enfermedades[6][1]" (change)="togglecb(6)"><span>{{paciente.enfermedades[6][0]}}</span></label></div>
                        <div id="ck-button"><label><input type="checkbox" [checked]="paciente.enfermedades[7][1]" (change)="togglecb(7)"><span>{{paciente.enfermedades[7][0]}}</span></label></div>
                    </div>
                    <div class="malestares" >
                        <span><label>{{paciente.malestares[0][0]}}</label> <md-slider #mal1="ngModel" name="mal1" [(ngModel)]="paciente.malestares[0][1]" [max]="7" [min]="0"  [step]="1" [thumb-label]=true ></md-slider><label>{{paciente.malestares[0][1]}}/7</label></span>
                        <span><label>{{paciente.malestares[1][0]}}</label> <md-slider #mal2="ngModel" name="mal2" [(ngModel)]="paciente.malestares[1][1]" [max]="7" [min]="0"  [step]="1" [thumb-label]=true ></md-slider><label>{{paciente.malestares[1][1]}}/7</label></span>
                        <span><label>{{paciente.malestares[2][0]}}</label> <md-slider #mal3="ngModel" name="mal3" [(ngModel)]="paciente.malestares[2][1]" [max]="7" [min]="0"  [step]="1" [thumb-label]=true ></md-slider><label>{{paciente.malestares[2][1]}}/7</label></span>
                        <span><label>{{paciente.malestares[3][0]}}</label> <md-slider #mal4="ngModel" name="mal4" [(ngModel)]="paciente.malestares[3][1]" [max]="7" [min]="0"  [step]="1" [thumb-label]=true ></md-slider><label>{{paciente.malestares[3][1]}}/7</label></span>
                        <span><label>{{paciente.malestares[4][0]}}</label> <md-slider #mal5="ngModel" name="mal5" [(ngModel)]="paciente.malestares[4][1]" [max]="7" [min]="0"  [step]="1" [thumb-label]=true ></md-slider><label>{{paciente.malestares[4][1]}}/7</label></span>
                        <span><label>{{paciente.malestares[5][0]}}</label> <md-slider #mal6="ngModel" name="mal6" [(ngModel)]="paciente.malestares[5][1]" [max]="7" [min]="0"  [step]="1" [thumb-label]=true ></md-slider><label>{{paciente.malestares[5][1]}}/7</label></span>
                    </div>
                </div>
            </div>
    
            <div class="righties">
                <p >
                    <md-input-container class="areas">
                        <textarea mdInput mdTextareaAutosize mdAutosizeMinRows="4" #alergias="ngModel" name="alergias" [(ngModel)]="paciente.alergias" placeholder="Alergias.." ></textarea>
                    </md-input-container>
                    <md-input-container class="areas">
                        <textarea mdInput mdTextareaAutosize mdAutosizeMinRows="5" #nogusta="ngModel" name="nogusta" [(ngModel)]="paciente.noincluir" placeholder="No incluir.." ></textarea>
                    </md-input-container>
                    <md-input-container class="areas">
                        <textarea mdInput mdTextareaAutosize mdAutosizeMinRows="6" #observaciones="ngModel" name="observaciones" [(ngModel)]="paciente.observaciones" placeholder="Observaciones.." ></textarea>
                    </md-input-container>
                </p>
            </div> 
        </div>       
        
        <div style="text-align: end">
            <button md-button (click)="actualizarHisCli();dialogRef.close()" [disabled]="!formPaciente.form.valid" >Guardar</button>
        </div>
    </form>
</div>