  <div *ngIf="isLoggedIn" class="navbar" >
    <md-toolbar color="primary">  
      <!--Boton SideNavigation-->
      <button class="vAlign" md-button id="bSidenav" (click)="sidenavtoggle()"><md-icon>menu</md-icon></button>
      <!--Logo-->
      <div class="logo">
        <img class="logoIcon" src="../assets/images/logo.png" alt="logo">
        <a class="logoText vAlign" [routerLink]="['/']" >LIGHTZONE</a>   
      </div>
      <!--Espacio en blanco-->
      <span class="fill-space"></span>    
      <div id="rightElements" >
        <!--Boton Buscar-->
        <button class="vAlign" md-button id="bSidenav" (click)="toggleBuscar()"><md-icon>search</md-icon></button>
        <md-input-container [ngClass]='mostrar'>
            <input mdInput class="vAlign"  type="text" [(ngModel)]=query (keyup)="filter();showResBus()" placeholder="Buscar...">
        </md-input-container>
        
        <div class="resBusqueda" [ngClass]='mostrar2' >
            <button md-button class="busElement" [ngClass]='mostrar3' *ngFor=" let item of filteredList" [routerLink]="['/paciente',item.$key]" 
            (click)="resetQuery();hideResBus()" >{{item.nombre}} </button>         
        </div>
        <!--Usuario-->
        <button class="userProfile" [mdMenuTriggerFor]="menu">
            <span class="userText vAlign">{{usuario.name}}</span>
            <button md-icon-button class="userAvatar vAlign" ><img md-card-avatar src="{{usuario.avatar}}"></button>
            <md-menu #menu="mdMenu">
              <button md-menu-item (click)="logout()">Cerrar Sesion</button>
              <button md-menu-item> Help </button>
            </md-menu>
        </button>
      </div>     
    </md-toolbar>
    <button md-fab class="btn-floating" (click)="openDialog()"><md-icon>add</md-icon></button>
  </div>

  <md-sidenav-container  class="sideb" (click)="hideResBus()">   
    <md-sidenav class="noprint" #sidenav mode="side" opened="true" *ngIf="isLoggedIn && sidenavVisible" >
      <ul>
        <li><a [routerLink]="['/']"><md-icon class="icon">dashboard</md-icon>Dashboard</a></li>
        <li><a [routerLink]="['/pacientes']"><md-icon class="icon">face</md-icon>Pacientes</a></li>
        <li><a [routerLink]="['/platillos']"><md-icon class="icon">restaurant</md-icon>Menús</a></li>
        <li><a *ngIf="usuario.role=='admin'"  [routerLink]="['/home']"><md-icon class="icon">dashboard</md-icon>Test</a></li>
        <span class="fill-space"></span>
        <li><a (click)="logout()"><md-icon class="icon">exit_to_app</md-icon>Cerrar Sesión</a></li>
      </ul>
    </md-sidenav>
    <div class="rutas">
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>

  