  <div *ngIf="isLoggedIn" class="navbar" >
    <mat-toolbar color="primary">  
      <!--Boton SideNavigation-->
      <button class="vAlign" mat-button id="bSidenav" (click)="sidenavtoggle()"><mat-icon>menu</mat-icon></button>
      <!--Logo-->
      <div class="logo">
        <img class="logoIcon" src="../assets/images/logo.png" alt="logo">
        <a class="logoText vAlign" [routerLink]="['/']" >LIGHTZONE</a>   
      </div>
      <!--Espacio en blanco-->
      <span class="fill-space"></span>    
      <div id="rightElements" >
        <!--Boton Buscar-->
        <button class="vAlign" mat-button id="bSidenav" (click)="toggleBuscar()"><mat-icon>search</mat-icon></button>
        <mat-input-container [ngClass]='mostrar'>
            <input mdInput class="vAlign"  type="text" [(ngModel)]=query (keyup)="filter();showResBus()" placeholder="Buscar...">
        </mat-input-container>
        
        <div class="resBusqueda" [ngClass]='mostrar2' >
            <button mat-button class="busElement" [ngClass]='mostrar3' *ngFor=" let item of filteredList" [routerLink]="['/paciente',item.$key]" 
            (click)="resetQuery();hideResBus()" >{{item.nombre}} </button>         
        </div>
        <!--Usuario-->
        <button class="userProfile" [mdMenuTriggerFor]="menu">
            <span class="userText vAlign">{{usuario.name}}</span>
            <button mat-icon-button class="userAvatar vAlign" ><img mat-card-avatar src="{{usuario.avatar}}"></button>
            <mat-menu #menu="mdMenu">
              <button mat-menu-item (click)="logout()">Cerrar Sesion</button>
              <button mat-menu-item> Help </button>
            </mat-menu>
        </button>
      </div>     
    </mat-toolbar>
    <button mat-fab class="btn-floating" (click)="openDialog()"><mat-icon>add</mat-icon></button>
  </div>

  <mat-sidenav-container  class="sideb" (click)="hideResBus()">   
    <mat-sidenav class="noprint" #sidenav mode="side" opened="true" *ngIf="isLoggedIn && sidenavVisible" >
      <ul>
        <li><a [routerLink]="['/']"><mat-icon class="icon">dashboard</mat-icon>Dashboard</a></li>
        <li><a [routerLink]="['/pacientes']"><mat-icon class="icon">face</mat-icon>Pacientes</a></li>
        <li><a [routerLink]="['/platillos']"><mat-icon class="icon">restaurant</mat-icon>Menús</a></li>
        <li><a *ngIf="usuario.role=='admin'"  [routerLink]="['/home']"><mat-icon class="icon">dashboard</mat-icon>Test</a></li>
        <span class="fill-space"></span>
        <li><a (click)="logout()"><mat-icon class="icon">exit_to_app</mat-icon>Cerrar Sesión</a></li>
      </ul>
    </mat-sidenav>
    <div class="rutas">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>

  