<div class="bg" >
  <div class="logo">
    <img class="LZlogo" src="../assets/images/logo.png" alt="LZlogo">
  </div>
  <mat-card class="loginCard" > 
    <div>
      <div class="textSup">
          <h1>Inicia Sesion</h1>
      </div>
      <div class="inputs">
        <p><mat-icon class="icons" >mail</mat-icon></p>
        <mat-input-container>
             <input mdInput [(ngModel)]="email" placeholder="email.." required >
        </mat-input-container>
        <p><mat-icon class="icons" >lock</mat-icon></p>
        <mat-input-container>
             <input mdInput type="password" [(ngModel)]="pass" placeholder="pass.." required >
        </mat-input-container>
      </div>
      <div class="btnLogin" > 
        <button mat-button (click)="login()">Login</button>
      </div>
    </div>
  </mat-card>
</div>
