<form #formAgendar="ngForm">
    <div style="margin-top: 1em;height: 360px; width: 560px">
        <h2>Agendar nuevo Paciente</h2>
        <div>
            <mat-input-container>
                <input matInput class="nombre" #nombre="ngModel" name="nombre" [(ngModel)]="paciente.nombre" placeholder="Nombre.." required>
            </mat-input-container>
            <span style="color: red" *ngIf="!nombre.valid && nombre.touched">*Requerido</span>

            <br>
            <mat-input-container>
                <input matInput class="telefono" #telefono="ngModel" name="telefono" [(ngModel)]="paciente.telefono" placeholder="Telefono.." required>
            </mat-input-container>
            <span style="color: red" *ngIf="!telefono.valid && telefono.touched">*Requerido</span>
        </div>
        <div>
            <h3>Seleccionar fecha</h3>
            <datepicker class="picker" [time]="true" [clear]="true" (mifecha)="sendFecha($event)"></datepicker>
        </div>
        <div *ngIf="btnGuardarB" class="guardar">
            <button mat-raised-button color="accent" id="btn-newPaciente-guardar" (click)="onSubmit()" [disabled]="!formAgendar.form.valid">Guardar</button>
        </div>
    </div>
</form>