<div class="perfSuperior">
    <div class="perfSupIzq" >
        <div class="datosGenerales">
            <div class="perfNombre">
                <div style="display: flex">
                    <h1 style="margin: 0 auto">{{paciente.nombre}}
                        <button mat-button (click)="openHisCliDialog(paciente)" ><mat-icon>mode_edit</mat-icon></button>
                        <button style="min-width: 2em" mat-button (click)='seguroElim()' ><mat-icon>delete</mat-icon></button>
                    </h1>
                </div>
                <h2 style="color: dimgray">{{paciente.sexo}} de {{paciente.edad}} años, estatura: {{paciente.estatura}} cms </h2>
            </div>
            <div class="Contacto"> 
                <div><h5>Telefono: </h5><p>{{paciente.telefono}}</p></div>
                <div *ngIf="paciente.correo!=''"  ><h5>e-mail: </h5><p>{{paciente.correo}}</p></div>
                <div *ngIf="paciente.direccion.calle!=''" ><h5>Dirección:</h5> <p>{{paciente.direccion.calle + ' , ' + paciente.direccion.colonia + ' en ' + paciente.direccion.ciudad}}</p></div>
            </div>
        </div>
        <div *ngIf="!sinHisCli" class="historiaClinica">
            <h3 style="text-align: center">Historia Clínica</h3>
            <div *ngIf="motivo!=''" ><h5>Motivo de la consulta: </h5><p>{{paciente.motivo}}</p></div>
            <div *ngIf="enf!=''" ><h5>Enfermedades: </h5><p>{{enf}}</p></div>
            <div *ngIf="malesta!=''" ><h5>Malestares: </h5><p>{{malesta}}</p></div>
            <div *ngIf="alerg!=''" ><h5>Alergias: </h5><p>{{paciente.alergias}}</p></div>
            <div *ngIf="noinclu!=''" ><h5>No incluir en la dieta: </h5><p>{{paciente.noincluir}}</p></div>
            <div *ngIf="agua!=''" ><h5>Ingesta de agua: </h5><p>{{paciente.agua}}</p></div>
            <div *ngIf="ejer!=''" ><h5>Ejercicio: </h5><p>{{paciente.ejercicio}}</p></div>
            <div *ngIf="observa!=''" ><h5>Observaciones: </h5><p>{{paciente.observaciones}}</p></div>
        </div>
    </div>
    <div class="siPrintIzq">
        <div class="siPrintLogo">
            <img src="../../assets/images/LZ_logo.png" alt="LZ_logo">
        </div>
        <div class="siPrintPaciente">
            <h1> {{paciente.nombre}} </h1>
            <h2> Edad: {{paciente.edad}} años  Estatura: {{paciente.estatura}} cms </h2>
        </div>
    </div>

    <div class="perfSupDer">
        <div *ngIf="showAvances" class="avances" >
            <div *ngIf="!subio && !acabo" class="spinners">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="75" viewbox="5 5 100 80" preserveAspectRatio="xMidYMid meet">
                    <path class="backS" d="M80,70 A40,40 0 1,0 20,70"
                          />
                    <path class="frontS" d="M80,70 A40,40 0 1,0 20,70" [ngStyle]="{'stroke-dashoffset':this.spinner}"
                          />
                </svg>
                <div class="porBajar">
                    <p>{{porbajar}}Kg</p>
                    <h4>por bajar</h4>
                </div>
            </div>
            <div *ngIf="subio" class="subio" >
                <mat-icon class="sad">sentiment_very_dissatisfied</mat-icon>
                <h2> Por arriba del peso inicial </h2>
            </div>
            <div *ngIf="acabo" class="acabo" >
                    <mat-icon class="happy">sentiment_very_satisfied</mat-icon>
                    <h2> FELICIDADES!!! Lo has logrado </h2>
                </div>
                    <!-- <input type="range" #ranger min="0" max="100" step="1" value="50" (input)="calculatePercent(ranger.value)" >{{spinval}} -->
            <div class="pesos" >
                <div class="pesosSup">
                    <p>{{paciente.pesoajustado}} kg <span>Peso ajustado</span> </p>
                    <p>{{pesoinicial}} kg <span>Peso inicial</span> </p>
                </div>
                <div class="pesosInf">
                    <p style="color:tomato" >{{pesoactual}} kg <span>Peso actual</span> </p>
                    <p *ngIf="!subio" style="color:#4CAF50" >{{totalbajado}} kg <span>Total bajado</span> </p>
                    <p *ngIf="subio" style="color:#d11e11" >{{totalbajado}} kg <span>Total subido</span> </p>
                </div>
            </div>
        </div>
                
        <div *ngIf="yaConsultar" class="botones">
            <h3 *ngIf="!proxcita" style="text-align:center;"  >Cita programada hoy a las {{horaCita}} hrs. </h3>
            <button mat-button *ngIf="!proxcita" (click)="openConsultarDialog(paciente,ordenados)" id="btnConsultar">Consultar</button>
            <button mat-button *ngIf="!proxcita" (click)="editCita(cita)" >Cambiar cita</button>
            <h3 *ngIf="!showList && proxcita" style="text-align: center;" >Paciente sin citas aun</h3>
            <button mat-button *ngIf="proxcita" (click)="openProxCitaDialog(paciente)" id="btnProxCita" >Agendar Cita</button>
        </div>
        <div *ngIf="!yaConsultar" class="aunNo">
            <h2>No es el dia de la cita</h2>
            <h3>Cita programada para el {{fechaProx}} a las {{horaCita}}</h3>
            <button mat-button (click)="editCita(cita)" >Cambiar cita</button>
        </div>
    </div>
</div>

<mat-tab-group *ngIf="showList"  >
    <mat-tab label="Citas">
        <div class="perfInferior">
            <mat-card>   
                <div class="perfInfTitle">
                    <h2 *ngIf="proxcita" >{{totaldevisitas}} Consultas previas
                        <button mat-button *ngIf="visible" class="btnSmall btnTrash" (click)="seguroDelVisita()" ><mat-icon>delete</mat-icon></button>    
                    </h2>
                    <h2 *ngIf="!proxcita" >{{totaldevisitas-1}} Consultas previas
                        <button mat-button *ngIf="visible" class="btnSmall btnTrash" (click)="seguroDelVisita()" ><mat-icon>delete</mat-icon></button>    
                    </h2>
                    <button mat-button (click)="showMore()" ><mat-icon>more_horiz</mat-icon></button>
                </div>
                <div style="overflow-x:auto;">   
                    <table>
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Peso</th>
                                <th>Grasa</th>
                                <th>Músculo</th>
                                <th>Abdomen</th>
                                <th *ngIf="genero=='Mujer'"  >Cadera</th>
                                <th>Glucosa</th>
                                <th>Menú</th>
                                <th class="comentariosT" >Comentarios</th>
                                <th *ngIf="visible" >Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr *ngFor="let visita of citasT" >
                                <td >{{visita.fecha}}</td>
                                <td [ngStyle]="{'color':visita.colP}"> {{visita.peso}} Kg <mat-icon *ngIf="visita.arrowP" class="arrow" > {{visita.arrowP}}</mat-icon> {{visita.difP}} </td>
                                <td [ngStyle]="{'color':visita.colG}"> {{visita.grasa}} Kg <mat-icon *ngIf="visita.arrowG" class="arrow" > {{visita.arrowG}}</mat-icon> {{visita.difG}} </td>
                                <td [ngStyle]="{'color':visita.colM}"> {{visita.musculo}} % <mat-icon *ngIf="visita.arrowM" class="arrow" > {{visita.arrowM}}</mat-icon> {{visita.difM}} </td>
                                <td [ngStyle]="{'color':visita.colA}"> {{visita.abdomen}} cm <mat-icon *ngIf="visita.arrowA" class="arrow" > {{visita.arrowA}}</mat-icon> {{visita.difA}} </td>
                                <td *ngIf="genero=='Mujer'" [ngStyle]="{'color':visita.colC}"> {{visita.cadera}} cm <mat-icon *ngIf="visita.arrowC" class="arrow" > {{visita.arrowC}}</mat-icon> {{visita.difC}} </td>
                                <td [ngStyle]="{'color':visita.colGl}"> {{visita.glucosa}} mg/dl <mat-icon *ngIf="visita.arrowGl" class="arrow" > {{visita.arrowGl}}</mat-icon> {{visita.difGl}} </td>
                                <td >{{visita.menu}}</td>
                                <td class="comentariosT" >{{visita.comentarios}}</td>
                                <td *ngIf="visible">
                                    <button mat-button class="btnSmall" (click)="editVisita(visita.id,paciente)" ><mat-icon>mode_edit</mat-icon></button> 
                                </td>
                                <td *ngIf='seguroV' class="confirmDelVisita" >
                                    <h4 style="margin: 0 auto">¿Elminar?</h4>
                                    <button mat-button class="btnSmall" (click)="siDelVisita(visita.id)" >Si</button> 
                                    <button mat-button class="btnSmall" (click)="noDelVisita()" >No</button>
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </mat-card>
            <mat-card style="padding-bottom:5em" *ngIf="showGraf">
                <div class="graficaProgreso">
                    <div class="btnsChangeGraph">
                        <button mat-button (click)="chartMenos()"> < </button>
                        <button class="btnGraf" mat-button (click)="showPesoGraph()"> {{gData[0].label}} </button>
                        <button mat-button (click)="chartMas()"> > </button>
                    </div>
                    <canvas baseChart [datasets]="gData" [labels]="cLabels" [options]="cOptions" [legend]=false [chartType]="'line'"></canvas>
                </div>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Menus">
            <mat-card class="mdCardNoPrint">
                        <mat-tab-group [selectedIndex]="nTabs" >
                            <mat-tab *ngFor="let c of citasTabs" label="{{c.fecha}}">
                                <menusC [Cita]="c" (yaGuardado)="mostrarPaciente($event)" ></menusC>
                            </mat-tab>
                        </mat-tab-group>
                </mat-card>      
    </mat-tab>
  </mat-tab-group>



<div *ngIf='seguro' class="dialogDelete">       
    <mat-card>
        <h2>Seguro que desea eliminar a {{paciente.nombre}} </h2>
        <button mat-button (click)='siEliminar()' >Si</button>
        <button mat-button (click)='noEliminar()' >No</button>
    </mat-card>
</div>