<div class="perfSuperior">
    <div class="perfSupIzq" >
        <div class="datosGenerales">
            <div class="perfNombre">
                <div style="display: flex">
                    <h1 style="margin: 0">{{paciente.nombre}}</h1>
                    <button md-button style="margin: 0 0 0 7em" (click)="openHisCliDialog(paciente)" ><md-icon>mode_edit</md-icon></button>
                    <button md-button style="margin: 0 auto;min-width: 1em" (click)='seguroElim()' ><md-icon>delete</md-icon></button>
                </div>
                <h2 style="color: dimgray">{{paciente.sexo}} de {{paciente.edad}} años, estatura: {{paciente.estatura}} cms </h2>
            </div>
            <div class="Contacto"> 
                <div><h5>Telefono: </h5><p>{{paciente.telefono}}</p></div>
                <div><h5>e-mail: </h5><p>{{paciente.correo}}</p></div>
                <div><h5>Dirección:</h5> <p>{{paciente.direccion.calle + ' , ' + paciente.direccion.colonia + ' en ' + paciente.direccion.ciudad}}</p></div>
            </div>
        </div>
        <div class="historiaClinica">
            <h3 style="text-align: center">Historia Clínica</h3>
            <div *ngIf="!paciente.enfermedades==''" ><h5>Enfermedades: </h5><p>{{paciente.enfermedades}}</p></div>
            <div *ngIf="!paciente.malestares==''" ><h5>Malestares: </h5><p>{{paciente.malestares}}</p></div>
            <div *ngIf="!paciente.alergias==''" ><h5>Alergias: </h5><p>{{paciente.alergias}}</p></div>
            <div *ngIf="!paciente.no==''" ><h5>No incluir en la dieta: </h5><p>{{paciente.no}}</p></div>
            <div *ngIf="!paciente.observaciones==''" ><h5>Observaciones: </h5><p>{{paciente.observaciones}}</p></div>
        </div>
    </div>
    <div class="perfSupDer">
        <div *ngIf="totaldevisitas>1" class="pesos">
            <div id="dinamicos">   
                <div id="actual"><h5>{{pesoactual}}<h4>Kg</h4></h5><p>Peso actual</p></div>
                <div *ngIf="totalbajado<=0" style="color: red" id="bajado"><h5>{{totalbajado}} <h4>Kg</h4></h5><p>Total bajado</p></div>
                <div *ngIf="totalbajado>0" id="bajado"><h5>{{totalbajado}} <h4>Kg</h4></h5><p>Total bajado</p></div>
                <div id="ajustado" ><h5>{{paciente.pesoajustado}}<h4>Kg</h4></h5><p>Peso ajustado</p></div>
            </div>
            <div id="estaticos" >   
                <div><h5>Peso inicial: </h5><p>{{pesoinicial}} Kg</p></div>
            </div>
        </div>
        <div class="botones">
            <button md-button *ngIf="!proxcita" (click)="openConsultarDialog()" id="btnConsultar">Consultar</button>
            <button md-button *ngIf="proxcita" (click)="openProxCitaDialog(paciente)" id="btnProxCita" >Proxima Cita</button>
        </div>
    </div>
</div>
<div class="perfInferior">
    <md-card>   
        <div class="perfInfTitle">
            <h2 *ngIf="proxcita" >{{totaldevisitas}} Consultas previas
                <button md-button *ngIf="visible" class="btnSmall btnTrash" (click)="seguroDelVisita()" ><md-icon>delete</md-icon></button>    
            </h2>
            <h2 *ngIf="!proxcita" >{{totaldevisitas-1}} Consultas previas
                <button md-button *ngIf="visible" class="btnSmall btnTrash" (click)="seguroDelVisita()" ><md-icon>delete</md-icon></button>    
            </h2>
            <button md-button (click)="showAdvance()" ><md-icon>more_horiz</md-icon></button>
        </div>
        <div style="overflow-x:auto;">   
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Peso</th>
                        <th>Grasa</th>
                        <th>Músculo</th>
                        <th>Abdomen</th>
                        <th *ngIf="paciente.sexo=='Mujer'"  >Cadera</th>
                        <th>Glucosa</th>
                        <th>Menú</th>
                        <th>Comentarios</th>
                        <th *ngIf="visible" >Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let visita of citas" >
                        <td >{{visita.fecha}}</td>
                        <td >{{visita.peso}}</td>
                        <td >{{visita.grasa}}</td>
                        <td >{{visita.musculo}}</td>
                        <td >{{visita.abdomen}}</td>
                        <td *ngIf="paciente.sexo=='Mujer'">{{visita.cadera}}</td>
                        <td >{{visita.glucosa}}</td>
                        <td >{{visita.menu}}</td>
                        <td >{{visita.comentarios}}</td>
                        <td *ngIf="visible">
                            <button md-button (click)="editVisita(visita)" ><md-icon>mode_edit</md-icon></button> 
                        </td>
                        <td *ngIf='seguroV' class="confirmDelVisita" >
                            <h4 style="margin: 0 auto">¿Elminar?</h4>
                            <button md-button class="btnSmall" (click)="siDelVisita(visita._id)" >Si</button> 
                            <button md-button class="btnSmall" (click)="noDelVisita()" >No</button>
                        </td>
                    </tr> 
                </tbody>
            </table>
        </div>
    </md-card>
</div>

<div *ngIf='seguro' class="dialogDelete">       
    <md-card>
        <h2>Seguro que desea eliminar a {{paciente.nombre}} </h2>
        <button md-button (click)='siEliminar()' >Si</button>
        <button md-button (click)='noEliminar()' >No</button>
    </md-card>
</div>