<h1>
    Platillos para menús
</h1>

<form #formPlatillo="ngForm" >
    <div class="addNew">
        <mat-input-container>    
            <input mdInput  [(ngModel)]="platillo" name="platillo" placeholder="Platillo.." required>
        </mat-input-container>
        <mat-input-container class="descripcion" >    
                <textarea mdInput mdTextareaAutosize mdAutosizeMinRows="1" [(ngModel)]="descripcion" name="descripcion" placeholder="Descripcion.." required></textarea>
        </mat-input-container>
        <mat-select class="tdc" *ngIf="!editF" placeholder="Tiempo de comida.." name="tiempo" [(ngModel)]="tiempo" required>
            <mat-option *ngFor="let t of tiempos" [value]="t">{{ t }}</mat-option>
        </mat-select>
        <button mat-button *ngIf="!editF" (click)="addPlatillo(tiempo)" [disabled]="!formPlatillo.form.valid" >Agregar</button>
        <button mat-button *ngIf="editF" (click)="actualizar()" [disabled]="!formPlatillo.form.valid" >Guardar</button>

    </div>
</form>

<div class="todos">
<mat-tab-group>
    <mat-tab label="Desayunos" >
        <mat-card>
                <div style="overflow-x:auto;">       
                    <table>
                        <thead>
                            <tr>
                                <th class="platillo">Platillo</th>
                                <th>Descripción</th>
                                <th class="acciones">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let de of desayunos" >
                                <td class="platillo">{{de.platillo}}</td>
                                <td>{{de.descripcion}}</td>
                                <td class="acciones">
                                    <button mat-button class="littlebtn" (click)="edit(de,'desayuno')" ><mat-icon>edit</mat-icon></button>
                                    <button mat-button class="littlebtn" (click)="delete(de,'desayuno')" ><mat-icon>delete</mat-icon></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-card>
    </mat-tab>
    <mat-tab label="Comidas" >
            <mat-card>
                    <div style="overflow-x:auto;">       
                                                <table>
                            <thead>
                                <tr>
                                    <th class="platillo">Platillo</th>
                                    <th>Descripción</th>
                                    <th class="acciones" >Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let co of comidas" >
                                    <td class="platillo">{{co.platillo}}</td>
                                    <td>{{co.descripcion}}</td>
                                    <td class="acciones" >
                                        <button mat-button class="littlebtn" (click)="edit(co,'comida')" ><mat-icon>edit</mat-icon></button>
                                        <button mat-button class="littlebtn" (click)="delete(co,'comida')" ><mat-icon>delete</mat-icon></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </mat-card>
    </mat-tab>
    <mat-tab label="Cenas" >
            <mat-card>
                    <div style="overflow-x:auto;">              
                        <table>
                            <thead>
                                <tr>
                                    <th class="platillo">Platillo</th>
                                    <th>Descripción</th>
                                    <th class="acciones">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ce of cenas" >
                                    <td class="platillo">{{ce.platillo}}</td>
                                    <td>{{ce.descripcion}}</td>
                                    <td class="acciones">
                                        <button mat-button class="littlebtn" (click)="edit(ce,'cena')" ><mat-icon>edit</mat-icon></button>
                                        <button mat-button class="littlebtn" (click)="delete(ce,'cena')" ><mat-icon>delete</mat-icon></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </mat-card>
    </mat-tab>
    <mat-tab label="Snacks" >
            <mat-card>
                    <div style="overflow-x:auto;">
                        <table>
                            <thead>
                                <tr>
                                    <th class="platillo">Nombre</th>
                                    <th>Descripción</th>
                                    <th class="acciones">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let sn of snacks" >
                                    <td class="platillo">{{sn.platillo}}</td>
                                    <td>{{sn.descripcion}}</td>
                                    <td class="acciones" >
                                        <button mat-button class="littlebtn" (click)="edit(sn,'snack')" ><mat-icon>edit</mat-icon></button>
                                        <button mat-button class="littlebtn" (click)="delete(sn,'snack')" ><mat-icon>delete</mat-icon></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </mat-card>
    </mat-tab>
</mat-tab-group>
</div>