<mat-form-field floatLabel="never">
    <input matInput type="text" [(ngModel)]=nombrePaci placeholder="Nombre...">
</mat-form-field>
<mat-form-field floatLabel="never">
    <input matInput type="text" [(ngModel)]=edadPaci placeholder="Edad...">
</mat-form-field>
<button mat-raised-button (click)="agregarPaciente(nombrePaci,edadPaci)">Agregar paciente</button>


<div class="tablaPac">
    <div class="tablaSup">
        <mat-form-field class="tablaBuscar">
            <input matInput class="tablaInputBuscar" type="text" [(ngModel)]=buscado (keyup)="filter()" placeholder="Buscar...">
        </mat-form-field>
        <mat-paginator class="tablaPaginator" #paginator [length]="totalRows$ | async" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

    <mat-accordion displayMode="flat" class="mat-table">
        <section matSort class="mat-elevation-z2 mat-header-row">
            <span class="mat-header-cell" mat-sort-header="nombre">Nombre</span>
            <span class="mat-header-cell" mat-sort-header="edad">Edad</span>
            <span class="mat-header-cell" mat-sort-header="id">ID</span>
        </section>

        <mat-expansion-panel *ngFor="let pac of displayedRows$ | async" (opened)="getVisitasP(pac.id)">
            <mat-expansion-panel-header class="mat-row">
                <span class="mat-cell">{{pac.nombre}}</span>
                <span class="mat-cell">{{pac.edad}}</span>
                <span class="mat-cell">{{pac.id}}</span>
            </mat-expansion-panel-header>
            <div class="expan">
                <div class="acciones">
                    <mat-form-field>
                        <input matInput [(ngModel)]=fecha [matDatepicker]="picker" placeholder="Fecha de visita...">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <!-- <mat-form-field floatLabel="never">
                        <input matInput type="text" [(ngModel)]=menu placeholder="Menu...">
                    </mat-form-field> -->
                    <button mat-raised-button (click)="agregarVisita(fecha,pac.id)">Agregar visita</button>
                    <button mat-button (click)="deleteP(pac.id)">Eliminar Paciente<mat-icon>delete</mat-icon></button>
                </div>
                <div class="visitas">
                    <mat-tab-group>
                        <mat-tab *ngFor="let v of visitas | async" [label]="v.fecha | date: 'dd/MMM/yyyy' "> {{v | json}} </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>